.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 0px 5%;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 1rem;
    padding-top:80px;
    padding-bottom:40px;
}
.cart-container{
    background: rgba(255, 153, 0, 0.3);
}
.pagination-container{
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0
}
.pagination{
    background-color: rgb(25, 122, 233);
    padding: 4px 8px;
    border-radius: 5px;
    display: inline-block;
    cursor:pointer;
    color:white;
    margin-right: 5px;
}
.next_prev{
    background-color: rgb(17, 44, 167);
    padding: 4px 8px;
    border-radius: 5px;
    display: inline-block;
    cursor:pointer;
    color:white;
    margin-right: 5px;
}
.selceted{
    background-color: #18163a;
    padding: 4px 8px;
    border-radius: 5px;
    display: inline-block;
    cursor:pointer;
    color:white;
    margin-right: 5px;
}